.content {
    width: 90%;
    margin: 1.4rem auto;
}

.title {
    text-align: center;
    margin-bottom: 3rem;
}

.title h1 {
    font-size: 2rem;
    font-weight: 500;
}

button {
    margin-bottom: .8rem;
}

.table {
    width: 100%;
}

.livro {
    color: white;
    margin-left: .5rem;
}

.edit {
    color: white;
}

.delete {
    color: white;
    margin-left: .5rem;
}

.mat-header {
    width: 5rem;
}